.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-right: 60px;
}

body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle, blueviolet, black);
    background-size: 510% 510%;
    animation: pulsate 4s infinite;
    height: 100%;
    overflow-y: auto;
    margin-bottom: 10%;
}

@keyframes pulsate {
    0% {
        background-size: 200% 200%;
    }
    50% {
        background-size: 250% 250%;
    }
    100% {
        background-size: 200% 200%;
    }
}

.navbar {
    z-index: 1;
}

.container {
    color: #fff;
}

.word-line{
    margin-top: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    color: black;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: fadeIn 0.5s forwards;
}

.popup-content {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.stylish-button {
    padding: 10px 20px;
    width: 300px;
    border: 2px solid lightblue;
    border-radius: 10px;
    background-color: white;
    color: rgb(12, 12, 167);
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
}

.stylish-button:hover {
    background-color: #fff;
    color: rgb(185, 184, 242);
}

.popup-content ul {
    list-style: none;
    padding: 0;
}

.popup-content ul:first-child {
    margin-top: 50px;
}

#fiut {
    width: 60%;
}

#penguin {
    width: 60%;
}

#rails {
    width: 60%;
}

#glove {
    width: 70%;
}

#ioe{
    width: 80%;
}

#annuaire{
    width: 60%;
}

#concerts{
    width: 60%;
}

#exige{
    width: 60%;
}

img {
    width: 3%;
    margin-right: 2%;
}

h3 {
    color: lightgray;
}

.listeTexte li{
    margin-bottom: 5px;
    padding: 10px;
}
#dl-button{
    width:20%;
}

#games{
    display: flex;
    flex-direction: row;
}